.custom-list {
    display: flex;
    flex-direction: column;
    gap: 22.95px;
    align-items: center;
    padding-bottom: 3px;
    width: 100%;
  }
  
  .custom-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  .custom-item-content {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .custom-item-info {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
  }
  
  .custom-item-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .custom-item-title {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
  }
  
  .custom-item-button {
    border: 1px solid blue;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 600;
    min-width: 53px;
    padding: 0.625rem 1rem;
    text-align: center;
    color: blue;
    font-size: 14px;
  }
  
  .custom-item-text {
    color: #64748b;
    font-size: 14px;
  }
  